@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<form method="post">
    <h3>@Model.Message</h3>
    <table class="table">
        <thread>
            <tr>ID</tr>
            <tr>Name</tr>
        </thread>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td>@customer.ID</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@customer.ID">Edit</a>
                        <button type="submit" asp-page-handler="delete" asp-route-id="@customer.ID">delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-page="./Create">Create</a>
</form>
